<?MenuDropdown?>
<div id="<?$_name?>" class="atk-menu-dropdown <?type?>atk-menu-dropdown-hor<?/type?> <?$position?>">
<?list?>
<ul>
	<?item?><li class="<?$class?>"><a href="<?$href?>"><?name?>Menu Item<?/?></a><?$Content?></li>
	<?/item?>
</ul>
<?/list?>
</div>
<?/MenuDropdown?>

<!--
jUI styles which can be used in future
	li.ui-menu-divider - separator of menu items
	li.ui-state-disabled - disabled menu item
	a.ui-state-focus - on hover
	a.ui-state-active - parent class when one of it's children is hovered
-->
