/* TOOLBAR */
.gridext-toolbar {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    
    float:left;
    width:100%;
    background:#F0F5FA;
    border:1px solid #002D5E;
    border-width:1px 1px 0 1px;
    border-collapse:collapse;
}
.gridext-toolbar:first-child{
    -webkit-border-top-left-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    -moz-border-top-left-radius: 2px;
    -moz-border-top-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.gridext-toolbar .ui-button {font-size:0.85em;} /* small buttons */



/* ACTION TOOLBAR */

/* buttons */
.gridext-action-toolbar .ui-buttonset {float:left;margin:0.2em 0.4em !important;border:1px solid transparent;/*without fake border, margins don't work at least in Chrome*/}

/* X items selected */
.gridext-action-toolbar .info {float:left;margin:0.4em 0.4em;}
.gridext-action-toolbar .info > .count {font-weight:bold;}

/* form */
.gridext-action-toolbar .atk-form {float:right;margin:0.2em 0.4em;}
.gridext-action-toolbar .atk-form * {float:left;}
.gridext-action-toolbar .atk-form fieldset .atk-form-row {margin:0;}
.gridext-action-toolbar .atk-form fieldset .atk-form-row > label {width:auto;margin-top:0.2em;}
.gridext-action-toolbar .atk-form fieldset .atk-form-row > .atk-form-field {margin-left: 0.5em;}
.gridext-action-toolbar .atk-form .atk-buttons {border:0;margin:0;padding:0 0 0 0.5em;}
.gridext-action-toolbar .atk-form fieldset .atk-form-row > .atk-form-field select {margin-top:0.2em;}
